__pycache__/
*.pyc
.ipynb_checkpoints/
data/memory_db/
data/interaction_log/
data/memory_backup.json
data/cold_storage/
*_backup.py
*.bin
notebooks/Untitled.ipynb
notebooks/reload_all.ipynb
notebooks/read_me.ipynb
